/**
 * General setup for layout.
 */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400');

html {
    overflow-y: scroll;
    background-color: #424242;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

.outer-wrap {
    margin: 0 auto;
}

.inner-wrap {
    margin: 0 auto;
    padding: 0 0.5em;
}

/**
 * Upper wrap
 */
.wrap-upper {
    background: url("../image/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5);
}



/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
    min-height: 2em;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 2em;
}

.header-content {
    text-align: center;
}

.header-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.5);
}

.header-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 3em;
}

/**
 * Navbar
 */
.outer-wrap-navbar {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    min-height: 2em;
    background: rgba(50, 50, 50, 0.5);
    color: #fff;
}

.outer-wrap-navbar a {
    color: #0be881;
    padding: 20px 30px;
    text-decoration: none;
}

.outer-wrap-navbar a:hover {
    color: #05c46b;
    text-shadow: 1px 1px 2px #222;
}

.wrap-navbar {
    display: flex;
    align-self: flex-end;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/**
 * Main
 */
.outer-wrap-main {
    max-width: 60%;
    min-height: 20em;
    margin-bottom: 4em;
}

.wrap-main h1 {
    padding-left: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    border-left: 5px solid #0be881;
}

.wrap-main h2 {
    padding-left: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    background: #0be881;
    color: #fff;
}

.figure {
    display: inline-block;
    margin: 1em 0;
    border: 8px solid #fff;
    box-shadow: 1px 1px 4px rgba(68, 68, 68, 0.5);
}

h1 {
    font-size: 2.5em;
}

/*
 * DB VIEWS
 */

.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dbtable {
    margin: 2rem;
    border: 1px solid #888;
    background: #0fb669;
}

.dbtable th {
    margin: 0;
    padding: 1rem;
    background: #0be881;
    border: 2px solid #0fb669;
}

.dbtable td {
    border: 1px solid #888;
    text-align: center;
    background: #fff;
}

.dbtable img {
    height: 200px;
    width: auto;
}

.dblinks {
    padding-top: 1.5rem;
}

.dblinks ul {
    list-style: none;
}

.dblinks ul li {
    margin: 0.5rem;
    display: inline;
}

.dblinks ul li a {
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.search-box {
    width: 100%;
    text-align: center;
}

.search-title {
    border: none !important;
}

.search-bar {
    width: 60%;
    padding: 0.5rem;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.4);
    background: #fff;
    color: #000;
}

.error {
    color: red;
}

/**
* Footer
*/
.outer-wrap-footer {
    max-width: 100%;
    min-height: 10em;
    color: #888;
    padding: 1em 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.footer-link {
    color: #888;
}

.restorelink {
    padding-top: 2rem;
}

/**
 * Responsive
 */
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
